<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#e46652">

    <title>Ember.js - <%= current_page.data.title || full_page_title %></title>
    <meta property="st:title" content="<%= current_page.data.title || full_page_title %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag '/images/favicon.png' %>
    <!--[if lte IE 7 ]><%= stylesheet_link_tag "fonts/fontello-ie7" %><![endif]-->
    <%= stylesheet_link_tag "application" %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <!-- This TypeKit account is managed by @wifelette. Contact her with any issues. -->
    <script src="https://use.typekit.net/stz3kpn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js - Blog" />
    <%= yield_content :head %>
  </head>

  <body class="guides <%= page_classes %>">

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'common-old-ie' %>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <%= javascript_include_tag 'common-modern' %>
    <!--<![endif]-->

    <%= partial "header" %>

    <%= yield_content :outside_wrapper %>

    <main class="container">

    <% if current_page.data.title == "404 - Not Found" %>
      <%= yield %>
    <% else %>
      <article class="fluid">
        <%= yield %>
      </article>
    <% end %>
    </main>

    <%= partial "footer" %>

    <%= yield_content :foot %>

    <%= partial "google-analytics" %>

  </body>
</html>
