---
title: "Users"
responsive: true
---

<h1>
  Quem usa Ember.js no Brasil?
</h1>

<p>
  As logotipos são adicionadas pela comunidade. Essas empresas podem ou não estar usando Ember em seus principais produtos ou serviços, mas eles definitivamente estão usando isso em algum lugar em suas organizações :)
</p>

<p>
  Sinta-se livre para localizar os colaboradores que trabalham em uma dessas empresas se você estiver procurando por mais informações.
</p>

<div class="companys section">

<ul class="showcase">
  <% data.companys.each do |user| %>
    <li>
      <a href="<%= user.url %>" rel="nofollow" target="_blank" class="user-showcase__link">
        <img
            src="/images/empresas/<%= user.image %>"
            <% if sitemap.find_resource_by_path("/images/empresas/" + user.image.gsub(/(\.\w+)$/, "_x2#{$1}")) %>
              srcset="<%= "/images/empresas/" + user.image.gsub(/(\.\w+)$/, "_x2#{$1}") %> 2x, /images/empresas/<%= user.image %> 1x"
            <% end %>
            alt="<%= user.alt %>">
      </a>
    </li>
  <% end %>
</ul>

<p>
  Para adicionar sua empresa ou projeto nesta página, <a href="https://github.com/ember-brasil/website">Envie um Pull Request</a>. <br>Certifique-se de que seu logotipo tenha um fundo transparente e espaço em branco adequado. <br> Informaçoẽs adicionais acesse  <a href="https://github.com/ember-brasil/website/blob/master/CONTRIBUTING.md#como-adicionar-uma-empresa">CONTRIBUTING</a>.
</p>


</div>
